@import url('https://fonts.cdnfonts.com/css/accidental-presidency');
:root {
  --deep-purple: #352f44;
  --pale-purple: #b9b4c7;
  --pale-white: #faf0e6;
}

body,
html {
  margin: 0;
  padding: 0;
  font-family: 'Accidental Presidency', sans-serif;
  color: var(--pale-white);
  background-color: var(--deep-purple);
  height: 100%;
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  width: 97%;
  margin-top: 10px;
}
nav div {
  display: flex;
  align-items: center;
}
nav a {
  text-decoration: none;
  color: var(--pale-white);
  font-size: 30px;
  margin-left: 15px;
}
nav button {
  display: flex;
  justify-self: center;
  background: none;
  border: none;
  cursor: pointer;
}
section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 100px;
}
section h1 {
  display: flex;
  align-items: center;
  font-size: 60px;
}
section h1 img {
  width: 40px;
  margin-left: -5px;
}
section div {
  width: 900px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
section div input {
  width: 78%;
  height: 100%;
  border-radius: 10px;
  border: none;
  text-indent: 20px;
  font-family: 'Accidental Presidency', sans-serif;
  font-size: 25px;
  color: var(--deep-purple);
  transition: all 0.15 ease-in;
}
section div input:focus {
  outline: 3px solid var(--pale-purple);
}
section div input::placeholder {
  font-family: 'Accidental Presidency', sans-serif;
  color: var(--pale-purple);
  font-size: 30px;
}
section div button {
  border: none;
  border-radius: 10px;
  width: 20%;
  height: 105%;
  float: right;
  background-color: var(--pale-purple);
  cursor: pointer;
  transition: all 0.15s;
}

section div button:hover {
  padding-left: 30px;
}
section div button:active {
  opacity: 0.8;
}

ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  width: 700px;
  padding: 0;
}
li {
  color: var(--deep-purple);
  font-size: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 10px;
  width: 100%;
  padding: 20px 0px;
  background-color: var(--pale-purple);
  margin-bottom: 20px;
  transition: all 0.15s ease-in-out;
  position: relative;
}
li:hover {
  padding: 25px 0px;
}

.close {
  cursor: pointer;
  background: none;
  border: none;
  display: flex;
  align-self: flex-end;
  position: absolute;
  right: 20px;
}
.close span {
  float: right;
}

li.checked {
  text-decoration: line-through;
  opacity: 1;
  background: url(assets/check.svg);
  background-position: 5% 50%;
  background-size: 20px;
  opacity: 0.7;
  background-color: var(--pale-purple);
  background-repeat: no-repeat;
}

#centro {
  height: 85%;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
}
#centro h1 {
  margin: 0;
  font-size: 60px;
}
#centro h1 img {
  width: 40px;
  margin-left: -15px;
}
#centro p {
  margin: 0;
  font-size: 40px;
}
#centro a {
  margin-top: 30px;
}
